name: test-can-build

on:
  workflow_call:

jobs:
  test-can-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.24"
          cache: true

      - name: Setup just
        uses: extractions/setup-just@v2

      - name: Build binary
        run: just build
