name: test-format

on:
  workflow_call:

jobs:
  test-format:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.24"
          cache: true

      - name: Setup just
        uses: extractions/setup-just@v2

      - name: Install formatters and linters
        run: just setup-deps

      - name: Check code formatting
        run: just check-fmt
